body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
}

nav {
    background-color: #ffff;
    box-shadow: 0px 1px 2px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.content {
    margin-left: 180px;
    margin-top: 30px;
}

form input {
    font-family: 'Raleway', sans-serif;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    width: 450px;
    display: block;
}